In [1]:
import pandas as pd
import numpy as np

In [4]:
df = pd.read_csv('/home/sjkim/recommendSystem/finalproject/change_df.csv',index_col=0)
df = df[['user_id','item_id','rating','compound_score']]
df.head()

      user_id               item_id  rating  compound_score
0  B00191WVF6  A0955928C2RRWOWZN7UC     4.0          0.0000
1  B005WY3TMA  A0955928C2RRWOWZN7UC     4.0          0.4404
2  B0090XWU8S  A0955928C2RRWOWZN7UC     4.0          0.0000
3  B00FXYTLIK  A0955928C2RRWOWZN7UC     4.0          0.7264
4  B00HMZG3YS  A0955928C2RRWOWZN7UC     4.0          0.6369

In [5]:
from sklearn.utils import shuffle

In [6]:
df = shuffle(df)

cutoff = int(len(df)*0.7)

train_df = df[:cutoff]
test_df = df[cutoff:]

In [7]:
train_df.head()

          user_id         item_id  rating  compound_score
76635  B00L10CO7U   A4EDCIRKIS099     1.0          0.0000
37268  B004VC8M3K   A2FXBWR4T4OFQ     5.0          0.9370
63242  B00BXX0QVQ  A3EHEIN314XOZW     5.0          0.9359
41875  B00569K7LM  A2M14CFAMF8J7I     5.0          0.8555
68126  B01EKARUUS  A3LDLV1GWQJLEQ     5.0          0.9783

In [9]:
# train set에 있는 아이템별 감성점수 평균
mean_sentiment_score = train_df.groupby(['item_id']).mean()['compound_score'].to_frame()
mean_sentiment_score

                      compound_score
item_id
A0955928C2RRWOWZN7UC        0.271650
A100UD67AHFODS              0.811281
A100WO06OQR8BQ              0.330026
A1013Q9SD2KIE1              0.285700
A1018D502E27E6              0.249960
...                              ...
AZX2RDN9YXZAE              -0.186920
AZXFS8GCTSQ5R               0.949700
AZXJJM4F1SY3                0.488011
AZYWYG2YYXH7O               0.000000
AZZYW4YOE1B6E               0.606133

[6368 rows x 1 columns]

In [11]:
# test 셋에서 감성점수(compound_score) 삭제
test_df = test_df.drop('compound_score',axis=1)

In [13]:
# test 셋에 train set에 있는 감성점수 붙이기(치팅방지)
test_df = pd.merge(mean_sentiment_score,test_df,how='inner',on='item_id')
test_df.head()

                item_id  compound_score     user_id  rating
0  A0955928C2RRWOWZN7UC        0.271650  B00NIYJKL0     4.0
1  A0955928C2RRWOWZN7UC        0.271650  B005WY3TMA     4.0
2        A100UD67AHFODS        0.811281  B00DZYEXPQ     5.0
3        A100UD67AHFODS        0.811281  B00PL86T5Q     5.0
4        A100UD67AHFODS        0.811281  B000EZWN88     5.0